*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  --white: hsl(45, 67%, 99%);
  --green: hsl(112, 67%, 17%);
  --red: hsl(7, 83%, 52%);
  --pink: hsl(2, 49%, 80%);
  --light-blue: hsl(203, 91%, 46%);
  --dark-blue: hsl(214, 67%, 81%);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
}

scrabble-board,
[is='scrabble-board'] {
  --n: 15;
  margin: 1em;
  flex-grow: 1;
  border: 1em solid var(--green);
  border-radius: 1em;
  background: var(--green);
  max-height: calc(100vmin - 2em);
  max-width: calc(100vmin - 2em);
  display: grid;
  grid-template-columns: repeat(var(--n, 15), 1fr);
  grid-template-rows: repeat(var(--n, 15), 1fr);
  gap: 1px;
  font-size: 1vmin;
}

scrabble-board > *,
[is='scrabble-board'] > * {
  position: relative;
  display: flex;
  border-radius: 0.2em;
  aspect-ratio: 1/1;
  background-color: var(--white);
}

scrabble-board > *:before,
[is='scrabble-board'] > *:before {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

scrabble-board > *.tws { background-color: var(--red); }
scrabble-board > *.dws { background-color: var(--pink); }
scrabble-board > *.tls { background-color: var(--dark-blue); }
scrabble-board > *.dls { background-color: var(--light-blue); }
[is='scrabble-board'] > *.tws { background-color: var(--red); }
[is='scrabble-board'] > *.dws { background-color: var(--pink); }
[is='scrabble-board'] > *.tls { background-color: var(--dark-blue); }
[is='scrabble-board'] > *.dls { background-color: var(--light-blue); }

scrabble-board > *.tws:before { content: '3x word'; }
scrabble-board > *.dws:before { content: '2x word'; }
scrabble-board > *.tls:before { content: '3x letter'; }
scrabble-board > *.dls:before { content: '2x letter'; }
scrabble-board > *.start:before { content: '★'; font-size: 1.5em; }
[is='scrabble-board'] > *.tws:before { content: '3x word'; }
[is='scrabble-board'] > *.dws:before { content: '2x word'; }
[is='scrabble-board'] > *.tls:before { content: '3x letter'; }
[is='scrabble-board'] > *.dls:before { content: '2x letter'; }
[is='scrabble-board'] > *.start:before { content: '★'; font-size: 1.5em; }
