*, *::after, *::before {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: hsl(240, 3%, 7%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(.5rem, 2.5vmin, 3rem);
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
}

#keyboard > .key {
  font-size: inherit;
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  border: none;
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  user-select: none;
}

#board {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin-bottom: 1em;
}

#board > .guess {
  font-size: 2em;
  color: white;
  border: 0.05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

#board > .guess::selection {
  background-color: transparent;
}

#board > .guess[data-state='active'] {
  border-color: hsl(200, 1%, 34%);
}

#board > .guess[data-state='wrong'] {
  background: hsl(240, 2%, 25%);
}

#board > .guess[data-state='wrong-position'] {
  background: hsl(49, 51%, 47%);
}

#board > .guess[data-state='correct'] {
  background: hsl(115, 29%, 43%);
}

#board > .guess.shaking {
  animation: shake 250ms ease-in-out;
}

#board > .guess.dancing {
  animation: dance 500ms ease-in-out;
}

#board > .guess.flipping {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% { transform: translateX(-5%); }
  30% { transform: translateX(5%); }
  50% { transform: translateX(-7.5%); }
  70% { transform: translateX(7.5%); }
  90% { transform: translateX(-5%); }
  100% { transform: translateX(0); }
}

@keyframes dance {
  20% { transform: translateY(-50%); }
  40% { transform: translateY(5%); }
  60% { transform: translateY(-25%); }
  80% { transform: translateY(2.5%); }
  90% { transform: translateY(-5%); }
  100% { transform: translateY(0%); }
}

#keyboard > .key:hover,
#keyboard > .key:focus {
  --lightness-offset: 10%;
}

#keyboard > .key.wrong {
  --lightness: 23%;
}

#keyboard > .key.wrong-position {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

#keyboard > .key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

#keyboard > .key.large {
  grid-column: span 3;
}

#alerts {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#alerts .alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .25em;
}

#alerts .alert:last-child {
  margin-bottom: 0;
}

#alerts .alert.hide {
  opacity: 0;
}
